.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(18, 18, 18) ;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-left: 30px;
  
}

.logo-symbol {
  color: red;
  font-size: 28px;
  
}


.navbar .logo {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-links li {
  margin-right: 2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-links .icon {
  margin-right: 0.5rem;
  font-size: 1.3rem;
}

.fixed-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #ff4081; /* Colorful background */
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 2rem;
  z-index: 9999;
  transition: all 0.3s ease;
}

.fixed-icon:hover {
  background-color: #e91e63; /* Darker shade when hovered */
  transform: scale(1.1);
}
.logout-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: -10px;
}

.logout-btn:hover {
  background-color: #e60000;
  transform: scale(1.05);
}

.logout-btn:active {
  transform: scale(0.95);
}

